
# CUDA
export CUDA_VERSION=11.8
export CUDA_VISIBLE_DEVICES=0

export CUDA_HOME=/usr/local/cuda-${CUDA_VERSION}
export CUDADIR=${CUDA_HOME}
export CUDA_PATH=${CUDA_HOME}

PATH_add /usr/local/cuda-${CUDA_VERSION}/bin
path_add LD_LIBRARY_PATH /usr/local/cuda-${CUDA_VERSION}/lib64
path_add LD_LIBRARY_PATH /use/local/cuda-${CUDA_VERSION}/extras/CUPTI/lib64

# Conda stuff
layout conda ai2
